{% extends 'base.html.twig' %}

{% block title %}{% trans %}Inscripción{% endtrans %} | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/styles/form-validation.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="fw-light text-center">{% trans %}Inscripción{% endtrans %}</h1>
    {{ form_start(form) }}
        <div class="row g-3">
            <div class="col-sm-6">
                {{ form_row(form.name, {'label': 'Nombre'|trans, 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'form-label'}}) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.surname, {'label': 'Apellidos'|trans, 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'form-label'}}) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.email, {'label': 'Correo electrónico'|trans, 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'form-label'}}) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.phoneNumber, {'label': 'Teléfono de contacto'|trans, 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'form-label'}}) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.country, {'label': 'Nacionalidad'|trans, 'attr': {'class': 'form-select'}, 'label_attr': {'class': 'form-label'}}) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.city, {'label': 'Ciudad'|trans, 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'form-label'}}) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.idCard, {'label': 'NIF/Pasaporte'|trans, 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'form-label'}}) }}
            </div>
        </div>
        <hr class="my-4">
        <div class="row gx-4">
            <div class="col-sm">
                <div class="row g-3 mb-3">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" id="registration_member" name="registration[member]" class="form-check-input" value="1">
                                <label class="form-check-label" for="registration_member">{% trans %}Miembro{% endtrans %} de
                                    <a href="#" class="link-secondary" style="cursor: default" data-bs-toggle="tooltip" data-bs-title="Hispana Esperanto-Federacio">HEF</a>,
                                    <a href="#" class="link-secondary" style="cursor: default" data-bs-toggle="tooltip" data-bs-title="Andaluzia Esperanto-Unuiĝo">AEU</a> o
                                    <a href="#" class="link-secondary" style="cursor: default" data-bs-toggle="tooltip" data-bs-title="Sevila Esperanto-Asocio">SEA</a>
                                </label>
                            </div>
                        </div>
                    </div>
                    {% do form.member.setRendered() %}
                    <div class="col-sm-12">
                        {{ form_row(form.relative, {'label': 'Familiar acompañante de miembro'|trans}) }}
                    </div>
                    <div class="col-sm-12">
                        {{ form_row(form.age, {'label': 'Edad'|trans, 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'form-label'}}) }}
                    </div>
                    <div class="col-sm-12">
                        {{ form_row(form.donation, {'label': 'Donación al congreso (voluntaria)'|trans, 'label_attr': {'class': 'form-label'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-sm" id="price-table">
            </div>
        </div>
        <div class="alert alert-info">
            <h4 class="alert-heading">{% trans %}Medio de pago{% endtrans %}</h4>
            <strong>{% trans %}Transferencia a{% endtrans %} <em>Asociación Sevillana de Esperanto</em></strong>: IBAN ES04 0182 0404 1402 0158 5771<br/>
        </div>
        <hr class="my-4">
        {{ form_row(form.reducedMobility, {'label': 'Tengo movilidad reducida.'|trans}) }}
        {{ form_widget(form.consent, {
             'label': 'Autorizo a la Asociación Sevillana de Esperanto el tratamiento de los datos contenidos en este formulario en los términos que se indican a continuación:'|trans,
             'label_attr': {'class': 'form-label'}
           })
        }}
        <p class="ms-4 text-muted">
            {% if locale == 'eo' %}
            <small>
                Observante la eŭropan regularon pri datum-protektado RGPD (UE 2016/679), la leĝon 34/2002 pri
                Inform-sociaj Servoj kaj Elektronika Komerco kaj la Konstitucia Leĝo pri Protektado de Personaj
                Datumoj, ni vin informas, ke viaj personaj datumoj estos traktataj fare de la Sevila Esperanto-Asocio,
                celante la aranĝon kaj organizadon de la 81-a Hispana Esperanto-Kongreso. Tiuj datumoj konserviĝos ĝis
                la fino de tiu kongreso. Vi povos uzi viajn rajtojn pri aliro, modifo, forigo, kontraŭstraro, limigo
                de la traktado kaj porteblo de tiuj datumoj per sendado de mesaĝo al admin@esperantosevilla.org.
            </small>
            {% else %}
            <small>
                En cumplimiento de la normativa europea de protección de datos RGPD (UE 2016/679), de la Ley 34/2002
                de Servicios de la Sociedad de la Información y de Comercio Electrónico, así como de la Ley Orgánica
                de Protección de Datos de Carácter Personal, le informamos de que sus datos personales serán objeto
                de tratamiento por parte de la Asociación Sevillana de Esperanto, cuya finalidad es la gestión y
                organización del LXXXI Congreso Español de Esperanto. Los datos proporcionados se conservarán hasta la
                finalización de dicho congreso. Ud. podrá ejercer sus derechos de acceso, rectificación, supresión,
                oposición, limitación del tratamiento y portabilidad escribiendo a admin@esperantosevilla.org.
            </small>
            {% endif %}
        </p>
        {{ form_row(form.public, {'label': 'Deseo aparecer en la lista pública de inscritos.'|trans, 'attr': {'checked': true}}) }}
        <hr class="my-4">
        {{ form_row(form.submit, { 'label': 'Enviar la suscripción'|trans, 'attr': {'class': 'btn-primary btn-lg w-100'} }) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/scripts/form-validation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.2/hogan.min.js" integrity="sha512-F6j8lc1UBrmZHqUGreg4gNVVMCehTbf/LU0s/nnsQJYVeFSdpci+fcL48gsTd1Fbf08sD/kL+is2QiEssvJ70g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/scripts/registration_price.{{ locale }}.mustache.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var isMember = document.getElementById('registration_member');
            var isRelative = document.getElementById('registration_relative');
            var age = document.getElementById('registration_age');
            var donation = document.getElementById('registration_donation');
            var priceTable = document.getElementById('price-table');
            var setPrice = function() {
                var discount = 0;
                var initialPrice = 90;
                if (isMember.checked) {
                    discount = 10;
                    if (isRelative.checked) {
                        discount = 20;
                    }
                } else if (isRelative.checked) {
                    discount = 15;
                }
                if (parseInt(age.value) < 17) {
                    discount = initialPrice;
                } else if (parseInt(age.value) < 31) {
                    discount += 15;
                }
                var costData = {
                    initialPrice: initialPrice,
                    discount: discount,
                    donation: Math.abs(parseInt(donation.value)) || 0,
                };
                costData.finalPrice =
                    costData.initialPrice +
                    costData.donation -
                    costData.discount;
                window.totalaMonsumo = costData.finalPrice;
                var table = templates["registration_price"].render(costData);
                priceTable.innerHTML = table;
            }
            var exclusive = function(e) {
                if (e.target.id === 'registration_member' && e.target.checked) {
                    isRelative.checked = false;
                } else if (e.target.id === 'registration_relative' && e.target.checked) {
                    isMember.checked = false;
                }
            }
            document.forms.registration.addEventListener('submit', (event) => {
                gtag('event', 'registro', { importe: window.totalaMonsumo });
            });
            setPrice();
            isMember.addEventListener('change', setPrice);
            isRelative.addEventListener('change', setPrice);
            age.addEventListener('input', setPrice);
            donation.addEventListener('input', setPrice);

            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        });
    </script>
{% endblock %}