<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('main') }}">
        <svg clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" version="1.1"
            viewBox="0 0 512 512" style="height: 28px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <g>
                <path
                    d="m227.14 278.26c-0.571 0.445-9.609 0.271-20.282-0.014-10.674-0.285-21.204-0.681-21.204-0.681-3.121 0-6.906 0.174-11.354 0.521-4.448 0.348-9.559 0.87-15.334 1.566-5.774 0.695-11.822 1.449-18.143 2.26-6.32 0.812-12.914 1.682-19.781 2.609l-3.512 38.608-3.511 38.608-0.703 8.695-0.702 8.696c-0.624 6.492-1.092 11.999-1.405 16.521-0.312 4.522-0.468 8.058-0.468 10.608 0 1.855 0.039 3.421 0.117 4.696s0.195 2.261 0.351 2.956c0.156 3.71 0.527 6.841 1.112 9.391 0.586 2.551 1.385 4.522 2.4 5.913 1.014 1.392 2.399 2.435 4.155 3.131 1.756 0.695 3.882 1.043 6.38 1.043 1.872 0 4.213-0.174 7.023-0.522 2.809-0.347 6.086-0.869 9.832-1.565l0.936 2.087 0.937 2.087-3.98 21.565-3.98 21.564c-10.768-0.695-20.64-1.217-29.614-1.565-8.9737-0.348-17.05-0.521-24.229-0.521-5.3064 0-11.12 0.173-17.441 0.521-6.3208 0.348-13.149 0.87-20.484 1.565-7.3352 0.696-13.851 1.392-19.548 2.087-5.6966 0.696-10.574 1.392-14.632 2.087l3.2774-21.564 3.2775-21.565c4.9942-1.623 9.3446-3.391 13.051-5.304 3.7066-1.913 6.7695-3.971 9.1885-6.174 2.4191-2.203 4.526-4.986 6.3208-8.348s3.2775-7.304 4.448-11.826c1.1705-4.521 2.2045-10.115 3.1019-16.782 0.8973-6.666 1.6582-14.405 2.2825-23.217l10.769-129.04 10.769-129.04c0.3121-4.173 0.5462-7.594 0.7023-10.26 0.1561-2.6666 0.2341-4.5796 0.2341-5.739 0-3.9419-0.2536-7.2462-0.7608-9.9128-0.5073-2.6666-1.2681-4.6955-2.2826-6.0868-1.0144-1.3913-2.4385-2.4347-4.2723-3.1304-1.8339-0.6956-4.0773-1.0434-6.7305-1.0434l-13.578 0.6956-1.1705-2.7825-1.1705-2.7826 3.5115-19.826 3.5116-19.826 53.844 1.3913c6.243 0 14.983-0.4638 26.22-1.3913s24.971-2.3188 41.202-4.1738l-3.043 22.26-3.044 22.26c-4.058 1.1594-7.569 2.4057-10.534 3.739-2.966 1.3333-5.385 2.7536-7.258 4.2608-1.872 1.5072-3.511 3.4202-4.916 5.739-1.404 2.3188-2.575 5.0433-3.511 8.1737-0.937 3.1304-1.834 7.1593-2.693 12.087-0.858 4.927-1.677 10.753-2.458 17.478l-5.384 50.433-5.384 50.434c13.109 0.464 24.502 0.811 34.179 1.043 9.676 0.232 17.636 0.348 23.878 0.348 7.336 0 18.667-1.355 28.572-2.554 9.905-1.2 16.606-2.243 18.233-1.62 1.627 0.624 0.705 1.978-1.814 28.705-2.708 28.724-2.933 29.979-3.505 30.424z" fill="#FFFFFF" />
                <path
                    d="m250.98 109.92c0.645-8.347 0.968-13.68 0.968-15.999 0-7.8838-1.048-13.217-3.143-16-2.096-2.7825-5.883-4.1738-11.363-4.1738l-14.023 0.6956-2.417-5.5651 7.253-40.347c5.157 0 14.264 0.3478 27.319 1.0434 13.055 0.6957 24.74 1.0435 35.056 1.0435 8.381 0 19.986-0.8116 34.814-2.4348 14.828-1.6231 24.66-2.6666 29.495-3.1303l-6.286 44.521c-11.927 3.2463-20.147 7.7679-24.66 13.565-4.513 5.7969-7.414 14.956-8.703 27.478l-28.045 275.47c-0.967 8.811-1.451 16.463-1.451 22.956 0 9.275 1.209 15.652 3.627 19.13s6.366 5.217 11.846 5.217c4.513 0 8.462-0.232 11.847-0.695 3.384-0.464 5.56-0.928 6.527-1.392l1.935 4.174-7.737 43.129c-5.158 0-14.425-0.347-27.803-1.043-13.377-0.696-26.352-1.043-38.924-1.043-14.183 0-27.48 0.231-39.891 0.695-12.41 0.464-20.711 0.928-24.901 1.391l7.736-43.129c13.861-2.782 23.29-7.768 28.286-14.956 4.997-7.188 8.14-20.521 9.429-39.999l23.209-270.6zm136.36 20.87c11.283-15.304 16.924-28.29 16.924-38.956 0-6.0288-1.773-10.55-5.319-13.565-3.546-3.0144-9.348-4.9854-17.407-5.9129l-1.451-4.1738 7.253-41.738c4.191 0.4637 12.894 1.2753 26.111 2.4347 13.216 1.1594 23.854 1.7391 31.913 1.7391 10.637 0 21.355-0.3478 32.154-1.0435 10.799-0.6956 18.132-1.2753 22.001-1.7391l2.417 6.9564-6.769 38.26c-10.638 6.0288-20.308 14.145-29.012 24.347-8.703 10.203-20.147 26.202-34.33 47.999l-61.892 91.128 50.287 140.52c7.414 20.869 14.748 35.941 22.001 45.216s15.875 14.376 25.868 15.304l2.902 5.565-6.77 35.477c-4.835 0.928-14.022 2.551-27.561 4.87s-22.081 3.478-25.627 3.478c-9.67 0-18.293-4.753-25.869-14.26-7.575-9.507-14.586-24.232-21.033-44.173l-56.573-171.82 2.418-14.609 77.364-111.3z" fill="#FFFFFF" />
            </g>
        </svg>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            {# <li class="nav-item">
                <a class="nav-link{{ route_name == 'program' ? ' active" aria-current="page' }}" href="{{ path('program') }}">{% trans %}Programa{% endtrans %}</a>
            </li> #}
            <li class="nav-item">
                <a class="nav-link{{ route_name == 'accommodation' ? ' active" aria-current="page' }}" href="{{ path('accommodation') }}">{% trans %}Hospedaje{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{{ route_name == 'registrations' ? ' active" aria-current="page' }}" href="{{ path('registrations') }}">{% trans %}Inscritos{% endtrans %}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">{{ locale|language_name|capitalize }}</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                <li><a class="dropdown-item" href="{{ path(route_name, { '_locale': 'es' } ) }}">{% trans %}Español{% endtrans %}</a></li>
                <li><a class="dropdown-item" href="{{ path(route_name, { '_locale': 'eo' } ) }}">Esperanto</a></li>
                </ul>
            </li>
        </ul>
        <a class="btn btn-outline-light me-2" href="{{ path('suggestions') }}">{% trans %}Sugerencias{% endtrans %}</a>
    </div>
    </div>
</nav>