{% extends 'base.html.twig' %}
{% block title %}{% trans %}Programa{% endtrans %} | {{ parent() }}{% endblock %}
{% block body %}
    <h1 class="fw-light text-center">{% trans %}Programa{% endtrans %}</h1>
    {% for day in program %}
        <h3 class="fw-light text-muted pt-4">{{ day.date|trans }}</h3>
        <table class="table">
            <head>
                <th scope="col">{% trans %}Hora{% endtrans %}</th>
                <th scope="col">{% trans %}Actividad{% endtrans %}</th>
                <th scope="col">{% trans %}Lugar{% endtrans %}</th>
            </head>
            <tbody>
                {% for event in day.schedule %}
                    <tr>
                        <td>{{ event.time|trans }}</td>
                        <td>{{ event.event|trans }}</td>
                        <td>{{ event.place|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}