{% apply inky_to_html|inline_css(source('@assets/foundation.css')) %}
{% trans_default_domain 'messages' %}
<spacer size="16"></spacer>
<container class="header">
    <row>
        <columns>
            <center>
                <img src="{{ email.image('@assets/logo_hef.png') }}" alt="Logo HEF">
            </center>
        </columns>
    </row>
</container>
<container class="body-drip">
    <spacer size="16"></spacer>
    <row>
        <columns>
            <h2>{% trans into locale %}Gracias por tu inscripci&oacute;n{% endtrans %}</h2>
            <p>{% trans into locale %}Hola{% endtrans %}, {{ name }}.</p>
            {% if locale == 'es' %}
                <p>Hemos recibido tu solicitud de inscripci&oacute;n al <strong>LXXXI Congreso Espa&ntilde;ol de Esperanto</strong>, que tendr&aacute; lugar del <strong>12 al 15 de octubre de 2023</strong> en <strong>Sevilla</strong>. A continuaci&oacute;n te detallamos los datos de pago que nos has proporcionado:</p>
            {% else %}
                <p>Ni ricevis vian ali&#285;peton al la <strong>81-a Hispana Esperanto-Kongreso</strong>, kiu okazi&#285;os de <strong>12-a &#285;is 15-a de oktobro 2023</strong> en <strong>Sevilo</strong>. Sube ni detaligas la datumojn pri pago senditajn de vi:</p>
            {% endif %}
            <spacer size="16"></spacer>
            <callout class="secondary">
                <row>
                    <columns>
                        <table class="spaced-table">
                            <tr><td><p class="text-right"><b>{% trans into locale %}Precio{% endtrans %}&nbsp;</b></p></td><td>{{ price }} &euro; ({{ priceText | raw }})</td></tr>
                            <tr><td><p class="text-right"><b>{% trans into locale %}Descuento{% endtrans %}&nbsp;</b></p></td><td>-{{ discount }} &euro; {{ discountText | raw }}</td></tr>
                            <tr><td><p class="text-right"><b>{% trans into locale %}Donaci&oacute;n{% endtrans %}&nbsp;</b></p></td><td>{{ donation }} &euro;</td></tr>
                            <tr><td><p class="text-right"><b>{% trans into locale %}Total a abonar{% endtrans %}&nbsp;</b></p></td><td><b>{{ total }} &euro;</b></td></tr>
                            <tr><td><p class="text-right"><b>{% trans into locale %}Forma de pago{% endtrans %}&nbsp;</b></p></td><td>{% trans into locale %}Transferencia bancaria{% endtrans %} (IBAN ES04 0182 0404 1402 0158 5771)</td></tr>
                        </table>
                    </columns>
                </row>
            </callout>
            <spacer size="16"></spacer>
            <p>{% trans into locale %}Recibirás otro correo con la confirmaci&oacute;n de tu inscripci&oacute;n tan pronto recibamos el pago{% endtrans %}.</p>
            <spacer size="16"></spacer>
            <p>{% trans into locale %}Hasta pronto{% endtrans %},</p>
            <p>{% trans into locale %}Comité organizador{% endtrans %}</p>
        </columns>
    </row>
</container>
{% endapply %}